.btn-primary {
    display: flex;
    justify-content: right;
    margin-left: auto;
}
.btn-primary i{
    margin-right: 4px;
}
.btn-delete {
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 2px 4px;
    display: inline-block;
}
.btn-edit {
    background-color: #1e9ff2;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    margin-right: 4px;
}
.modal-title{
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.table .alert-success{
    padding: 9px;
}
.table .alert-danger{
    padding: 9px;
}
.dropdown-notification h6.media-heading {
    color: #1e9ff2;
}
.dropdown-notification .btn-primary{
    display: inline-block;
    margin-top: 8px;
    padding: 6px 17px;
}
.header-navbar .navbar-container .dropdown-menu-media .media-list .media {
    padding: 1rem 20px;
}
.file.center-block{
    margin-top: 5px;
}