.btn-primary {
    display: flex;
    justify-content: right;
    margin-left: auto;
}
.btn-primary i{
    margin-right: 4px;
}
.btn-delete {
    background-color: red;
    border-radius: 4px;
    color: white;
    padding: 2px 4px;
    display: inline-block;
}
.btn-edit {
    background-color: #1e9ff2;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    margin-right: 4px;
}